<% @person.affiliations.each_with_index do |affiliation, indx| %>
  <%= ee_collapse(position_with_class_delegate(affiliation), {expanded: indx==0}) do -%>
    <div class="row">
    <% if affiliation.address %>
      <% phoneclass="col-md-6" %> 
      <div class="col-md-6">
        <p itemprop="location" itemscope="" itemtype="http://schema.org/Place">
          <span itemprop="address">
            <strong><%= affiliation.hierarchy %></strong><br/>
            <%= address(affiliation.address) %>
          </span>
        </p>
      </div>
    <% else %>
      <% phoneclass="col-md-12" %> 
    <% end %>
    <% if affiliation.phones.present? %>
    <div class="<%= phoneclass %>">
      <% affiliation.phones.select{|p| !p.hidden?}.each do |phone| %>
        <span class="people-btn">
          <%= phone_link(phone.number) %>
        </span>
      <% end %>
      <br/>
      <% unless affiliation.room.nil? %>
      <small>
        <%= t("office") %>:
        <%= link_to(affiliation.room.label, affiliation.room.url) %>
      </small>
      <br/>
      <% end %>
      <small>
        <%= hierarchy_links affiliation.hierarchy %>
      </small>
    </div>
    <% end %>
    </div>
    <% if affiliation.unit.url? %>
    <div class="row">
    <div class="col-sm-12">
    <p>
      <span class="sr-only">Web site: </span>
      <small>
        <%= t "website" %>: <%= link_to affiliation.unit.url, affiliation.unit.url %>
      </small>
    </p>
    </div>
    </div>
    <% end %>
  <% end -%>
<% end %>
