<p class="mt-4"><!-- ADMIN DATA -->
  
  <TMPL_IF NAME=showadmindata><!-- showadmindata -->
  <!--    ALL UNITS       -->
  <small>
    <a href="#" onclick="document.getElementById('all_units').style.display='block';">
      <TMPL_VAR NAME=all_units_label>
    </a>
  </small>
  <br>
  </TMPL_IF><!-- showadmindata -->

  <!--    LISTS   -->
  <small>
    <a href="https://cadiwww.epfl.ch/listes?sciper=<TMPL_VAR NAME=sciper>">
      <TMPL_VAR NAME=listes_label> <TMPL_VAR NAME=prenom> <TMPL_VAR NAME=nom>
    </a>
  </small>
  <br>

  <!--    ACCREDS -->
  <%= ee_collapse(t("admin_data.title")) do -%>
    <dl class="definition-list definition-list-grid data-list" style="font-size: smaller;">
      <dt><%= t "admin_data.sciper" %></dt>
      <dd><%= @sciper %></dd>
      <dt><%= t "admin_data.sap" %></dt>
      <dd><%= @person.account.sap_id %></dd>
      <dt><%= t "admin_data.username"%></dt>
      <dd><%= @person.account.user %></dd>
      <dt><%= t "admin_data.gid" %></dt>
      <dd><%= @person.account.gid %></dd>
      <dt><%= t "admin_data.uid" %></dt>
      <dd><%= @person.account.uid %></dd>
      <dt><%= t "admin_data.home" %></dt>
      <dd><%= @person.account.home %></dd>
      <dt><%= t "admin_data.shell" %></dt>
      <dd><%= @person.account.shell %></dd>
    </dl>
 <% end -%>
 <% if false # TODO! %>
  <TMPL_ELSE><!-- user -->
  <small>
    <svg class="icon" aria-hidden="true">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-lock"></use>
    </svg>
    <a href="<TMPL_VAR NAME=path_info>/admindata">
      <TMPL_VAR NAME=admin_data_label>
    </a>
  </small>
 <% end %>
</p><!-- ADMIN DATA -->
