<% if @tcv.visible_expertise? %>
<div class="cmt-5 mt30">
  <h3><%= t "expertise" %></h3>
  <div><%= sanitize @tcv.expertise %></div>
</div>
<% end %>                

<section id='biography_section'>
<h2 class="section_title"><%= t "biography" %></h2>
<% unless @boxes['B'].empty? %>
<div class="cmt-5 mt30" id="bio-block">
  <% @boxes['B'].each do |b| %>
    <% c = sanitize(b.content) %>
    <% if c.present? %>
    <h5><%= b.label %></h5>
    <div><%= c %></div>
    <% end %>
  <% end %>
</div>
<% end %>

<% if @cv.experiences.present? %>
<div class="col-mt5">
  <h3><%= t "work_experience" %></h3>
  <div class="list-group">
    <%= @cv.experiences.each do |e| %>
      <div class="list-group-item list-group-item-borderless education-list">
        <p><strong><%= e.title %></strong></p>
        <p><%= e.field %></p>
        <p><%= e.univ %></p>
        <p><%= e.dates %></p>
      </div>
    <% end %>
  </div>
</div>
<% end %>

<% if @cv.educations.present? %>
<div class="col-mt5">
  <h3><%= t "education" %></h3>
  <div class="list-group">
    <% @cv.educations.each do |e| %>
      <div class="list-group-item list-group-item-borderless education-list">
        <p><strong><%= e.title %></strong></p>
        <% if e.field.present? %>
        <p><%= e.field %></p>
        <% end %>
        <p><%= e.univ %></p>
        <p><%= e.dates %></p>
      </div>
    <% end %>
  </div>
</div>
<% end %>

<% if @person.is_achieving_professor? and @cv.achievements.present? %>
<div class="col-mt5">
  <h3><%= t "awards" %></h3>
  <div class="list-group">
    <% @cv.achievements.each do |a| %>
      <div class="list-group-item list-group-item-borderless education-list">
        <p><strong>
          <% if a.url.present? %>
            <%= link_to(a.title, a.url) %>
          <% else %>
            <%= a.title %>
          <% end %>
        </strong></p>
        <% if a.field.present? %>
        <p><%= a.field %></p>
        <% end %>
        <p><%= a.dates %></p>
      </div>
    <% end %>
  </div>
</div>
<% end %>
</section>