<% if @editable && @tcv.visible_title? %>
<h4><%= @tcv.title %></h4>
<% end %>
<p>
  <% if @email %>
  <%= link_to	@email.address, "mailto:#{@email.address}", class: "btn btn-sm btn-primary" %>
  <% end %>

  <% if @person.phone %>
  <%= phone_link(@person.phone.number, class: "btn btn-sm btn-secondary") %>
  <% end %>

  <% if @editable %>
  <% if @cv.web_perso %>
    <%= link_to(@cv.web_perso, @cv.web_perso, class: "btn btn-sm btn-secondary") %>
  <% end %>
  <% end %><!-- edit_profile -->
</p>

<% if @editable %>
<% unless @cv.nat.nil? or @cv.nat.empty? %>
<p>
	<%= t 'nationality' %> : <%= @cv.nat %>
</p>
<% end %>

<% if @cv.show_birthday? %>
<p>
	<%= t 'birthday' %> : <%= @person.birthday %>
</p>
<% end %>
<% end %><!-- edit_profile -->
