<% if @cv.any_publication? %>
<section id='publications_section'>
<h2 class="section_title"><%= t "publications" %></h2>

<% if @cv.infosciences.present? %>
  <div class="col-mt5">
    <h3 id="publications-info"><%= t "infoscience_publications" %></h3>
    <% @cv.infosciences.each do |p| %>
      <div class="list-group-item list-group-item-borderless">
        <div class="row">
          <div class="col-md-12">
            <h4><%= p.label %></h4>
            <div><%= p.html_content.html_safe %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if @cv.publications.visible.present? %>
  <div class="col-mt5">
    <h3 id="publications-people" class="mt30"><%= t "people_publications" %></h3>
    <div class="list-group collapse collapse-partial" id="publications-struct-text" aria-expanded="false">
      <table class="table">
        <% @cv.publications.visible.each do |p| %>
          <tr>
            <td><b><%= p.author %></b><br><%= p.journal %></td>
            <td style="vertical-align: top;">
              <% if p.url.present? %>
                <%= link_to p.title, p.url %>
              <% else %>
                <%= p.url %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% end %>


<% end %>

