<section id='teaching_section' class="people-contents">
<h2 class="section_title"><%= t "teaching" %></h2>

  <% if @ta.bachelor_section_names.present? %>
  <div class="cmt-5">
    <%= content_tag(:h4, t("bachelor_teaching_title")) %>
    <%= content_tag(:p, @ta.bachelor_section_names.join(", ")) %>
  </div>
  <% end %>
  <% if @ta.doctoral_teaching.present? %>
  <div class="cmt-5">
    <%= content_tag(:h4, t("doctoral_teaching_title")) %>
    <% @ta.doctoral_section_names.each do |s| %>
      <%= content_tag(:p, s) %>
    <% end %>
  </div>
  <% end %>

  <% if @ta.has_phds? %>
  <div class="cmt-5 mt30">
    <% if @ta.current_phds.present? %>
    <h4><%= t "current_phd_students_title" %></h4>
    <p>
    <% @ta.current_phds.each do |s| %>
    <%= link_to(s.full_name, person_path(s.sciper)) %>
    <% end %>
    </p>
    <% end %>

    <% if @ta.past_phds.present? %>
    <h4><%= t "past_phd_students_title" %></h4>
    <p>
    <% @ta.past_phds.each do |s| %>
    <%= link_to(s.full_name, person_path(s.sciper)) %>
    <% end %>
    </p>
    <% end %>
  </div>
  <% end %>

  <% if @ta.courses.present? %>
    <h4><%= t "courses_title" %></h4>
    <div class="list-group" id="cours-text" %>
      <% @ta.courses.each do |c| %>
      <div class="course_box">
        <% if c.url.present? %>
        <h4><%= link_to(c.title, c.url) %></h4>
        <% else %>
        <h4><%= c.title %></h4>
        <% end %>
        <p><%= c.description %></p>
        <hr class="dotted" />
      </div>
      <% end %>
    </div>
  <% end %>

<% unless @boxes['T'].empty? %>
<div class="cmt-5 mt30" id="bio-block">
  <% @boxes['T'].each do |b| %>
    <% c = sanitize(b.content) %>
    <% if c.present? %>
    <h5><%= b.label %></h5>
    <div><%= c %></div>
    <% end %>
  <% end %>
</div>
<% end %>

</section>
