<% fake_breadcrumbs [t("action.edit_profile"), @person.name.display] %>

<section id="pictures_section">
<%# turbo_frame_tag "profile_picture", src: profile_pictures_path(@profile), loading: :lazy do %>
<%# loader %>
<%# end %>
<%= render 'pictures/pictures', profile: @profile, pictures: @profile.pictures %>
</section>

<p data-controller="social"></p>
<hr>

<%= render "form", profile: @profile %>

<hr>

<section id="accreds_section">
<%= turbo_frame_tag "accreds_index", src: profile_accreds_path(@profile), loading: :lazy do %>
Loading awards... (for demoing purpose, an artificial delay is added)
<% end %>
</section>

<section id="experiences_section">
<%= turbo_frame_tag "experiences_index", src: profile_experiences_path(@profile), loading: :lazy do %>
Loading experiences... (for demoing purpose, an artificial delay is added)
<% end %>
</section>

<section id="educations_section">
  <%= turbo_frame_tag "educations_index", src: profile_educations_path(@profile), loading: :lazy do %>
    Loading educations... (for demoing purpose, an artificial delay is added)
  <% end %>
</section>

<section id="awards_section">
<%= turbo_frame_tag "awards_index", src: profile_awards_path(@profile), loading: :lazy do %>
Loading awards... (for demoing purpose, an artificial delay is added)
<% end %>
</section>

<section id="socials_section">
  <%= turbo_frame_tag "socials_index", src: profile_socials_path(@profile), loading: :lazy do %>
    Loading socials... (for demoing purpose, an artificial delay is added)
  <% end %>
</section>

<section id="publications_section">
  <%= turbo_frame_tag "publications_index", src: profile_publications_path(@profile), loading: :lazy do %>
    Loading publications... (for demoing purpose, an artificial delay is added)
  <% end %>
</section>
