<section >
  <header class="collapse-title collapse-title-desktop collapsed" data-toggle="collapse" data-target="#admin-data" aria-expanded="false" aria-controls="admin-data">
	  <p><%= t "admin_data.title" %></p>
  </header>
  <div class="collapse collapse-item collapse-item-desktop" id="admin-data">
		<dl class="definition-list definition-list-grid data-list">
			<dt><%= t "admin_data.sciper" %></dt>
			<dd><%= @admin_data.sciper %></dd>
			<dt><%= t "admin_data.sap" %></dt>
			<dd>NA</dd>
			<dt><%= t "admin_data.username" %></dt>
			<dd><%= @admin_data.username %></dd>
			<dt><%= t "admin_data.gid" %></dt>
			<dd><%= @admin_data.gid %></dd>
			<dt><%= t "admin_data.uid" %></dt>
			<dd><%= @admin_data.uid %></dd>
			<dt><%= t "admin_data.home" %></dt>
			<dd><%= @admin_data.home %></dd>
			<dt><%= t "admin_data.shell" %></dt>
			<dd><%= @admin_data.shell %></dd>
		</dl>
  </div>
</section>
