<% if @profile.present? && @profile.show_title? %>
<h2 class="people-title mb-3"><%= @profile.t_title %></h2>
<% end %>
<p>
  <% if @person.email %>
  <%= link_to @person.email, "mailto:#{@person.email}", class: "btn btn-sm btn-primary" %>
  <% end %>

  <% if @person.default_phone and @profile.show_phone %>
  <%= phone_link(@person.default_phone.number, class: "btn btn-sm btn-secondary") %>
  <% end %>

  <% if @profile.present? && @profile.personal_web_url? %>
    <%= link_to(@profile.personal_web_url, @profile.personal_web_url, class: "btn btn-sm btn-secondary") %>
  <% end %>
</p>
<% if @profile.present? %>
<% if @profile.show_nationality? and @profile.t_nationality.present? %>
<p>
  <%= t 'nationality' %> : <%= @profile.t_nationality %>
</p>
<% end %>
<% if @profile.show_birthday? %>
<p>
  <%= t 'birthday' %> : <%= @person.birthday %>
</p>
<% end %>

<% unless @visible_socials.empty? %>
<div class="mt-1">
  <p>
<% @visible_socials.each do |s| %>
  <% if s.icon.present? %>
    <a href="true" class="social-icon social-icon-details social-icon-<%= s.icon %> social-icon-discrete" rel="nofollow" title="View on <%= s.label %>">
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-<%= s.icon %>"></use>
      </svg>
  <% else %>
    <a href="true" class="social-icon social-icon-details social-icon-discrete" rel="nofollow" title="View on <%= s.label %>">
  <% end %>
      <span class="user"><%= s.value %></span>
    </a>
<% end %>
  </p>
</div>
<% end %>

<% end %>
