<% content_for :head do %>
    <!-- Open Graph / Facebook -->
  <meta property="og:type" content="profile">
  <meta property="og:site_name" content="EPFL People">
  <meta property="og:title" content="EPFL People – <%= @person.name.display %>">
  <meta property="og:description" content="<%= @person.name.display %>'s EPFL profile">
  <meta property="og:profile:first_name" content="<% @person.name.display_first %>">
  <meta property="og:profile:last_name" content="<% @person.name.display_last %>">
  <meta property="og:url" content="<%= person_path(sciper_or_name: @person.email_user) %>">
  <% if @profile_picture %>
  <meta property="og:image" content="<%= url_for(@profile_picture) %>">
  <% end %>
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:alt" content="<%= @person.name.display %>'s EPFL profile picture">
  <meta property="fb:app_id" content="966242223397117">

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="EPFL People – <%= @person.name.display %>">
  <meta name="twitter:description" content="<%= @person.name.display %>'s EPFL profile">
  <% if @profile_picture %>
  <meta name="twitter:image" content="<%= url_for(@profile_picture) %>">
  <% end %>
<% end %>
<% content_for :menu do %>
  <!-- TODO: implement auth control -->
  <% if @editable %>
  <li>
    <svg class="icon" aria-hidden="true"><use xlink:href="#icon-edit"></use></svg>
    <%= link_to edit_profile_path(@profile) do %>
      <%= t('action.edit_profile') %>
      <span class="sr-only">
        <%= t 'action.of' %> <%= @person.name.display %>
      </span>
    <% end %>
  </li>
  <% end %>
<% end %>

<div class="container">
  <div class="row people-basic-info">
    <div class="col-md-6 col-lg-4">
      <% if @profile_picture %>
        <%= image_tag(@profile_picture.representation(resize_to_limit: [400, 400]), alt: 'Avatar image', class: 'mx-auto img-fluid bg-gray-100') %>
      <% else %>
        <%= image_tag(belurl('svg/portrait-placeholder.svg'), alt: 'Avatar image', class: 'mx-auto img-fluid bg-gray-100') %>
      <% end %>
      <%= render "admin_data" if @admin_data %>
      <%= render "socials" unless @visible_socials.empty? %>
    </div>
    <div class="people-contacts col-md-6 col-lg-8">
      <%= render "name" %>
      <%= render "contact" %>
      <%= render "accreds" %>
      <% @contact_zone_bbs.each do |section, boxes| %>
        <%= render partial: "section", locals: {section: section, boxes: boxes} %>
      <% end %>
    </div>
  </div><!-- people basic infos -->

  <% # section tab links %>
  <% if @main_zone_bbs.present? || @ta.present? %>
    <ul class="nav nav-tabs mt-5" role="tablist">
      <% active="active" %>
      <% @main_zone_bbs.each do |section, boxes| %>
        <% id="section_#{section.label}" %> 
        <li class="nav-item">
          <%= link_to(
                section.t_title, "#"+id,
                id: "#{id}-tab", role: "tab", class: "nav-link #{active}", 
                data: {toggle: "tab"},
                aria: {controls: id, selected: active ? "true" : "false"}
              )
          %>
        </li>
        <% active=false %>
      <% end %>

      <% if @ta.present? %>
        <% id="section_teaching" %>
        <li class="nav-item">
          <%= link_to(
                t("teaching"), "#"+id,
                id: "#{id}-tab", role: "tab", class: "nav-link", 
                data: {toggle: "tab"},
                aria: {controls: id, selected: active ? "true" : "false"}
              )
          %>
        </li>
      <% end %>
    </ul>
    <div class="tab-content p-3">
      <% active="active" %>
      <% @main_zone_bbs.each do |section, boxes| %>
        <% id="section_#{section.label}" %> 
        <div class="tab-pane fade show <%= active %>"  id="<%= id %>" role="tabpanel" aria-labelledby="<%= id %>-tab">
          <%= render partial: "section", locals: {section: section, boxes: boxes, sortable: false} %>
        </div>
        <% active = nil %>
      <% end %>
      <% if @ta.present? %>
        <% id="section_teaching" %> 
        <div class="tab-pane fade show <%= active %>"  id="<%= id %>" role="tabpanel" aria-labelledby="<%= id %>-tab">
        <%= render "teaching" %>
        </div>
      <% end %>  
    </div>
  <% end # if main_zone_bbs.present? %>
</div>