<% if !@cv.nil? and @cv.titre_show %>
<h4><%= @cv.titre %></h4>
<% end %>
<p>
  <% if @email %>
  <%= link_to	@email.address, "mailto:#{@email.address}", class: "btn btn-sm btn-primary" %>
  <% end %>

  <% if @person.phone %>
  <span class="people-btn"><%= phone_link(@person.phone.number) %></span>
  <% end %>

  <% if @person.can_edit_profile? %>
  <% if @person.web_perso %>
    <%= link_to(@person.web_perso, @person.web_perso, class: "btn btn-sm btn-secondary") %>
  <% end %>
  <% end %><!-- edit_profile -->
</p>

<% if @person.can_edit_profile? %>
<% if @person.nat %>
<p>
	<%= t 'nationality' %> : <%= @person.nat %>
</p>
<% end %>

<% if @person.show_birthday? %>
<p>
	<%= t 'birthday' %> : <%= @person.birthday %>
</p>
<% end %>
<% end %><!-- edit_profile -->
