<% if @cv.titre_show %>
<h4><%= @cv.titre %></h4>
<% end %>
<p>
  <% if @person.email %>
  <%= link_to	@person.email_address, "mailto:#{@person.email_address}", class: "btn btn-sm btn-primary" %>
  <% end %>

  <% if @person.main_phone %>
  <span class="people-btn"><%= phone_link(@person.main_phone) %></span>
  <% end %>

  <% if @person.can_edit_profile? %>
  <% if @person.web_perso %>
    <%= link_to(@person.web_perso, @person.web_perso, class: "btn btn-sm btn-secondary") %>
  <% end %>
  <% end %><!-- edit_profile -->
</p>

<% if @person.can_edit_profile? %>
<% if @person.nat %>
<p>
	<%= t 'nationality' %> : <%= @person.nat %>
</p>
<% end %>

<% if @person.show_birthday? %>
<p>
	<%= t 'birthday' %> : <%= @person.date_naiss %>
</p>
<% end %>
<% end %><!-- edit_profile -->
