<div class="w-100 pb-5">
  <main id="main" role="main" class="content">
    <div class="container">
      <div class="d-flex flex-wrap justify-content-between align-items-baseline">
        <h1 class="mr-3"><%= @person.display_name %></h1>
        <!-- link to edit profile -->
      </div>

      <div class="row mt-5"><!-- ROW1 -->
        <div class="col-md-12"><!-- ROW1,single -->
          <div class="row"><!-- ROW2 -->
            <div class="col-md-6"><!-- ROW2,L -->
              <div class="row"> <!-- ROW3 -->
                <div class="col-sm-12 col-md-6 mb-3">
                  <%= render 'legacy/s0/photo' %>
                </div>
              </div> <!-- ROW3 -->

              <div class="row"> <!-- ROW4 -->
                <div class="col-sm-12">
                  <%= render 'legacy/s0/contact' %>
                  <!-- CONTACT -->
                </div>
                <% if @editable %>
                  <%= render 'legacy/s0/research_ids' %>
                  <%= render 'legacy/s0/kboxes' %>
                <% end %>
              </div> <!-- ROW4 -->
            </div> <!-- ROW2,L -->

            <div class="col-md-6"><!-- ROW2,R -->
              <%= render 'legacy/s0/accreds' %>
              <p class="mt-4"><!-- ADMIN DATA -->
                <small>
                  <a href="<%= url_for :params=>{:format => :vcard} %>">
                    <span style="vertical-align: text-bottom;">vCard</span>
                  </a>
                </small>
                <br>
              </p>
              <%= render 'legacy/s0/admin_data' if current_user or true %>
            </div><!-- ROW2,R -->
          </div><!-- ROW2 -->
        </div><!-- ROW1,single -->
      </div><!-- ROW1 -->
    </div><!-- container -->

    <% if @editable %>
    <div class="container">
      <%= render 'legacy/s0/biography' %>
      <%= render 'legacy/s0/publications' %>
      <%= render 'legacy/s0/research' %>

      <%= render 'legacy/s0/teaching' if @ta.present? %>
    </div>
    <% end %>
  </main>
</div>

<%= render 'legacy/s0/all_units' %>
