<div class="container people-contents">
  
  <div class="my-5">
    <h2 id="biography"><%= t "title.biography" %> <span class="sr-only"><%= t "title.of" %> <%= @person.display_name %></span></h2>
    <div class="biogaphy-content">
      <%if @tcv.curriculum.present? %>
      <%= @tcv.curriculum %>
      <% end %>
      <% unless @boxes['B'].empty? %><% @boxes['B'].each do |b| %>
      <% c = sanitize(b.content) %>
        <% if c.present? %>
        <% if b.label.present? %><h3><%= b.label %></h3><% end %>
          <p><%= c %></p>
        <% end %>
      <% end %><% end %>
    </div>
    <% if @tcv.visible_expertise? %>
    <div class="mt-5">
      <h3><%= t "title.expertise" %></h3>
      <p><%= sanitize @tcv.expertise %></p>
    </div>
    <% end %>                

    <% if @cv.educations.present? %>
    <div class="mt-5">
      <h3><%= t "title.education" %></h3>
      <div class="list-group">
      <% @cv.educations.each do |e| %>
        <div class="list-group-item list-group-item-borderless education-list">
          <p><strong><%= e.title %></strong></p>
          <% if e.field.present? %>
            <p><%= e.field %></p>
          <% end %>
          <p><%= e.univ %></p>
          <p><%= e.dates %></p>
        </div>
      <% end %>
      </div>
    </div>
    <% end %>

    <% if @cv.experiences.present? %>
    <div class="mt-5">
      <h3><%= t "title.work_experience" %></h3>
      <div class="list-group">
        <% @cv.experiences.each do |e| %>
          <div class="list-group-item list-group-item-borderless">
            <p><strong><%= e.title %></strong></p>
            <% if e.field.present? %>
            <p><%= e.field %></p>
            <% end %>
            <div class="item-metadata">
              <p class="item-date"><%= e.dates %></p>
              <p class="small"><%= e.univ %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>

    <% if @person.awards.present? %>
    <div class="mt-5">
      <h3><%= t "awards" %></h3>
      <div class="list-group">
        <% @person.awards.each do |a| %>
        <div class="list-group-item list-group-item-borderless">
          <p><strong><%= a.title %></strong></p>
          <% if a.field.present? %>
          <p><%= a.field %></p>
          <% end %>
          <div class="item-metadata">
            <p class="item-date"><%= a.dates %></p>
            <% if a.url.present? %>
            <p class="small"><%= link_to t("details"), a.url %></p>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>

  </div>
</div>
