<% if @editable && @tcv.visible_title? %>
<h2 class="people-title mb-3"><%= @tcv.title %></h2>
<% end %>
<p>
  <% if @email %>
  <%= link_to @email.address, "mailto:#{@email.address}", class: "btn btn-sm btn-primary" %>
  <% end %>
  <% if @person.phone %>
  <%= phone_link(@person.phone.number, class: "btn btn-sm btn-secondary") %>
  <% end %>
  <% if @editable && @cv.web_perso.present? %>
    <%= link_to(@cv.web_perso, @cv.web_perso, class: "btn btn-sm btn-secondary") %>
  <% end %>
</p>
<% if @editable %>
<% unless @cv.nat.nil? or @cv.nat.empty? %>
<p>
  <%= t 'nationality' %> : <%= @cv.nat %>
</p>
<% end %>
<% if @cv.show_birthday? %>
<p>
  <%= t 'birthday' %> : <%= @person.birthday %>
</p>
<% end %>

<% end %>

<% if @cv.visible_social_ids.present? %>
<div class="mt-1">
  <p>
<% @cv.visible_social_ids.each do |s| %>
  <% if s.icon.present? %>
    <a href="true" class="social-icon social-icon-details social-icon-<%= s.icon %> social-icon-discrete" rel="nofollow" title="View on <%= s.label %>">
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-<%= s.icon %>"></use>
      </svg>
  <% else %>
    <a href="true" class="social-icon social-icon-details social-icon-discrete" rel="nofollow" title="View on <%= s.label %>">
  <% end %>
      <span class="user"><%= s.content %></span>
    </a>
<% end %>
  </p>
</div>
<% end %>
