<div class="container people-contents">
  <div class="my-5">
    <h2 id="publications"><%= t "title.publications" %><span class="sr-only"><%= t "title.of" %> <%= @person.display_name %></span></h2>

    <% if @tcv.publication_boxes.visible.with_content.present? %>
    <div class="mt-5" id="publications-free">
      <h3><%= t "publication.title.free" %></h3>
      <div class="list-group">
      <% @tcv.publication_boxes.visible.with_content.each do |b| %>
        <div class="list-group-item list-group-item-borderless list-group-item-infoscience">

          <% if b.label.present? %>
          <h4><%= b.label %></h4>
          <% end %>
          <%= b.content %>
        </div>
      <% end %>
    </div>
    <% end %>

    <% if @tcv.infosciences.visible.present? %>
    <div class="mt-5" id="publications-infoscience">
      <h3><%= t "publication.title.infoscience" %></h3>
      <div class="list-group">
      <% @tcv.infosciences.visible.each do |p| %>
        <div class="list-group-item list-group-item-borderless list-group-item-infoscience">
          <% if p.label.present? %><h4><%= p.label %></h4><% end %>
          <div><%= p.html_content.html_safe %></div>
        </div>
      <% end %>
      </div>
    </div>
    <% end %>

    <% if @cv.publications.visible.present? %>
    <div class="mt-5" id="publications-people">
      <h3><%= t "publication.title.people" %></h3>
      <div class="list-group">
        <% @cv.publications.visible.each do |p| %>
        <div class="list-group-item list-group-item-borderless list-group-item-infoscience">
          <div class="record-content">
            <p>
              <%= p.author %>: 
              <strong><%= p.title %></strong>;
              <%= p.journal %>
            </p>
          </div>
          <div class="item-metadata">
            <% if p.url.present? %>
            <p class="item-links small">
              <%= link_to t("publication.details"), p.url %>
            </p>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
