<div class="container people-contents">
  
  <div class="mt-5">
    <h2 id="research"><%= t "title.research" %> <span class="sr-only"><%= t "t.of" %> <%= @person.display_name %></span></h2>
    <div class="mt-5">

    <% @boxes['R'].each do |b| %>
      <% c = sanitize(b.content) %>
      <% if c.present? %>
      <h3><%= b.label %></h3>
      <div><%= c %></div>
      <% end %>
    <% end %>
    <% end %>
    </div>
</div>