<div class="container people-contents">
  
  <div class="my-5">
    <h2 id="teaching"><%= t "title.teaching" %><span class="sr-only"><%= t "title.of" %> <%= @person.display_name %></span></h2>
    <div class="mt-5">
      <% if @ta.bachelor_section_names.present? %>
      <%= content_tag(:h4, t("title.bachelor_teaching")) %>
      <%= content_tag(:p, @ta.bachelor_section_names.join(", ")) %>
      <% end %>
      <% if @ta.doctoral_teaching.present? %>
      <%= content_tag(:h4, t("title.doctoral_teaching_title")) %>
      <% @ta.doctoral_section_names.each do |s| %>
        <%= content_tag(:p, s) %>
      <% end %>
      <% end %>

      <% if @ta.has_phds? %>
      <% if @ta.current_phds.present? %>
      <h4><%= t "title.current_phd_students" %></h4>
      <p>
        <%= 
          @ta.current_phds.map do |s| 
            link_to(s.full_name, person_path(s.sciper))
          end.join(", ").html_safe
        %>
      </p>
      <% end %>
      <% if @ta.past_phds.present? %>
      <h4><%= t "title.past_phd_students" %></h4>
      <p>
        <%= 
          @ta.past_phds.map do |s| 
            link_to(s.full_name, person_path(s.sciper))
          end.join(", ").html_safe
        %>
      </p>
      <% end %>
      <%end%>

    </div>

    <% if @ta.courses.present? %>
    <div class="mt-5">
      <h3><%= t "title.courses" %></h3>
      <div class="list-group">
        <% @ta.courses.each do |c| %>
        <div class="list-group-item list-group-item-borderless">
          <h4><%= link_to_or_text(c.title, c.url) %></h4>
          <p><%= c.description %></p>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>

    <% unless @boxes['T'].empty? %>
    <div class="mt-5">
      <% @boxes['T'].each do |b| %>
        <% c = sanitize(b.content) %>
        <% if c.present? %>
        <h4><%= b.label %></h4>
        <div><%= c %></div>
        <% end %>
      <% end %>
    </div>
    <% end %>

  </div>
</div>
