<%= turbo_stream.append "awards" do %>
<%= render "editable_award", award: @award %> 
<% end %>

<%= turbo_stream.replace "new_award_form" do %>
<%= turbo_frame_tag "new_award_form" do %>
	<div class="row justify-content-center">
		<%= link_to icon_text('add', 'plus'), new_profile_award_path(@profile), class: "btn btn-secondary btn-sm", data: {turbo_stream: true} %>
	</div>
<% end %>
<% end %>
<%= turbo_stream.replace("flash-messages", partial: "shared/flash") %>