<%= turbo_frame_tag dom_id(experience), "data-sortable-url" => experience_path(experience, format: 'json') do %>
  <div class="list-group-item">
    <div class="row">
      <div class="col-md-8">
        <h4 class="h5 mb-0"><%= experience.t_title %></h4>
        <p class="text-muted small mb-0">
          <%= experience.t_description.present? ? truncate(experience.t_description.to_plain_text, length: 160) : "no description" %>
          <br>
          <%= [experience.year_begin, experience.year_end].compact.join("–") %>
          <%= experience.location %>
        </p>
      </div>
      <div class="col-md-4 text-right">
        <p>
          <%= render "shared/item_actions", item: experience %>
        </p>
      </div>
    </div>
  </div>
<% end %>


