<%= form_with(model: [profile, experience], local: false, class: "instaform") do |form| %>
  <%= render "shared/form_errors", item: experience if experience.errors.any? %>

  <div class="form-group">
    <%= form.label Experience.human_attribute_name(:title_fr) %>
    <%= form.text_field :title_fr, placeholder: "developeur d'applications" %>
  </div>
  <div class="form-group">
    <%= form.label Experience.human_attribute_name(:title_en) %>
    <%= form.text_field :title_en, placeholder: "software developer" %>
  </div>
  <div class="form-group">
    <%= form.label Experience.human_attribute_name(:location) %>
    <%= form.text_field :location, placeholder: "Apple corporation" %>
  </div>
  <div class="form-group">
    <%= form.label Experience.human_attribute_name(:period) %>
    <% # TODO: here it would be nice to have the birthday for a more specific date range %>
    <%= form.number_field :year_begin, in: 1950..Date.today.year %>
    <%= form.number_field :year_end, in: 1950..Date.today.year %>
  </div>

  <div class="form-group">
    <%= form.label Award.human_attribute_name(:audience) %>
    <%= audience_selector form %>
  </div>
  <div class="form-group">
    <%= form.label Experience.human_attribute_name(:description_fr) %>
    <div><%= form.rich_text_area :description_fr %></div>
  </div>
  <div class="form-group">
    <%= form.label Experience.human_attribute_name(:description_en) %>
    <div><%= form.rich_text_area :description_en %></div>
  </div>

  <%= form_actions form, experience %>

<% end %>









