<%= turbo_frame_tag :experiences_index do %>

<%= tag.h2(t('title.experiences')) %>

<%= turbo_frame_tag "experiences" do %>
	<div data-controller="sortable">
		<% @experiences.each do |experience| %>
			<div class="list-group-item list-group-item-borderless" data-sortable-url="<%= experience_path(experience, format: 'json')%>" data-sortable-handle>
				<%= render 'editable_experience', experience: experience %>
			</div>
		<% end %>
	</div>
<% end %>

<div class="list-group-item list-group-item-borderless" %>
	<%= turbo_frame_tag "new_experience_form" do %>
		<div class="row justify-content-center">
			<%= link_to icon_text('add', 'plus-circle'), new_profile_experience_path(@profile), class: "btn btn-secondary btn-sm", data: {turbo_stream: true} %>
		</div>
	<% end %>
</div>

<% end %>









