<div class="list-group-item list-group-item-borderless education-list">
  <p><strong><%= education.t_title %> - <%= education.school %></strong></p>
  <p><%= education.t_field %></p>
  <div class="item-metadata">
    <p class="item-date"><%= [education.year_begin, education.year_end].compact.join("–") %></p>
  </div>
  <p class="small"><%= education.director %></p>
</div>