<%= turbo_frame_tag :educations_index do %>

  <%= tag.h2(t('title.educations')) %>
    
  <%= turbo_frame_tag "educations", src: nil, target: nil, data: {controller: "sortable"} do %>
    <% @educations.each do |education| %>
      <%= render 'editable_education', education: education%>
    <% end %>
  <% end %>

  <div class="list-group-item list-group-item-borderless">
    <%= turbo_frame_tag "new_education_form" do %>
      <div class="row justify-content-center">
        <%= link_to icon_text('add', 'plus-circle') ,new_profile_education_path(@profile), class: "btn btn-secondary btn-sm", data: {turbo_stream: true} %>
      </div>
    <% end %>
  </div>

<% end %>