<% if false %>
<div class="container">
<h3>Person:</h3>
<pre>
  <%= @person.to_yaml %>
</pre>
<h3>Profile:</h3>
<pre>
  <%= @profile.to_yaml %>
</pre>
<h3>Accreds:</h3>
<pre>
  <%= @accreds.to_yaml %>
</pre>
</div>
<% end %>
<div class="container">
  <div class="d-flex flex-wrap justify-content-between align-items-baseline">
    <h1 class="mr-3"><%= @person.display_name %></h1>
    <div>
      <svg class="icon" aria-hidden="true"><use xlink:href="#icon-edit"></use></svg>
      <a href="#">
        <%= t 'action.edit_profile' %> <span class="sr-only"><%= t 'action.of' %> <%= @person.display_name %></span>
      </a>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-12">
      <div class="row people-basic-info">

        <div class="col-md-4 col-lg-3 offset-lg-1 mb-3">
          
          <div class="row">
            <div class="col-sm-12 mb-3">
              <!-- TODO: add real picture -->
              <!-- Placeholder when there is no profile picture -->
              <%= profile_picture(@profile) %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p>
                <small>
                  <%= link_to "vCard", person_path(format: "vcf") %>
                  <br>
                  <a href="#"><%= t 'action.accred_full_list' %></a>
                  <br>
                  <svg class="icon" aria-hidden="true"><use xlink:href="#icon-lock"></use></svg>
                  <a href="#"><% t 'action.admin_data' %></a>
                </small>
              </p>
            </div>
          </div>
        </div>

        <div class="people-contacts col-md-8">
          <div class="row">
            <div class="col-sm-12 mb-4">
              <%= render "contact" %>
            </div>
          </div>
          <%= render "accreds" %>
        </div>
      </div><!-- people basic infos -->
      <% @contact_zone_bbs.each do |section, boxes| %>
      <%= render partial: "section", locals: {section: section, boxes: boxes} %>
      <% end %>
    </div>
  </div>
</div>

<% # section tab links %>
<% if @main_zone_bbs.present? %>
  <div class="position-relative mt-5">
    <nav class="nav-tabs-light-wrapper sticky-top" id="intermediate-nav">
      <div class="container">
        <ul class="nav nav-tabs-light">
          <% @main_zone_bbs.each do |section, boxes| %>
          <li class="nav-item">
            <%= link_to(section.t_title, "#section_#{section.label}", class: "nav-link") %>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>

  <% @main_zone_bbs.each do |section, boxes| %>
    <div class="container people-contents">
      <%= render partial: "section", locals: {section: section, boxes: boxes} %>
      <hr class="darker">
    </div>
  <% end %>
<% end %>

<% if @ta.present? %>
<div class="position-relative mt-5">
  <div class="container">
    <%= render "teaching" %>
  </div>
</div>
<% end %>

<% if false %>
<div class="position-relative mt-5">
  <% if @profile.present? && (@profile.any_publication? or @tcv.any_publication? or @ta.present? and @ta.ta? or @boxes['R'].present?) %>
  <nav class="nav-tabs-light-wrapper sticky-top" id="intermediate-nav">
    <div class="container">
      <ul class="nav nav-tabs-light">
        <li class="nav-item">
          <a class="nav-link" href="#biography"><%= t "nav.biography" %></a>
        </li>
        <% if @profile.any_publication? or @tcv.any_publication? %>
        <li class="nav-item">
          <a class="nav-link" href="#publications"><%= t "nav.publications" %></a>
        </li>
        <% end %>
        <% if @ta.present? and @ta.ta? %>
        <li class="nav-item">
          <a class="nav-link" href="#teaching"><%= t "nav.teaching" %></a>
        </li>
        <% end %>
        <% unless @boxes['R'].empty? %>
        <li class="nav-item">
          <a class="nav-link" href="#research"><%= t "nav.research" %></a>
        </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <% end %>

  <% 
    # TODO: move this crap into a model or to the controller...
    if ( 
      false and
      @tcv.present? and (@tcv.curriculum.present? or @tcv.visible_expertise?) or
      @boxes['B'].present? or 
      @profile.educations.present? or 
      @profile.experiences.present? or 
      @person.awards.present?
    )
      render "legacy/s1/biography"
    end
  %>

  <% if @profile.any_publication? or @tcv.present? and @tcv.any_publication? %>
  <hr class="darker">
  <%= render "legacy/s1/publications" %>
  <% end %>


  <% unless @boxes['R'].empty? %>
  <hr class="darker">
  <%= render "legacy/s1/research" %>
  <% end %>
</div>
<% end %>