<!doctype html>
<html lang="en">
  <head>
    <%= render "layouts/elements/head" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
  </head>

  <body>
    <%= render "layouts/elements/header_minimal" %>
    <% 
      # make con / make coff to turn on/on web console
      console if Rails.env.development? && Rails.root.join('tmp/console-dev.txt').exist?
    %>
    <div class="main-container">

      <%= yield :breadcrumbs %>

      <div class="container pt-5 pb-5">
        <main id="main" class="content" role="main" >
          <%= yield %>
        </main>      
      </div>

    </div>
    <script>
      svgPath = '<%= belurl "icons/icons.svg" %>';
      featherSvgPath = '<%= belurl "icons/feather-sprite.svg" %>';
    </script>
  </body>
</html>


