<!doctype html>
<html lang="en">
  <head>
    <%= render "layouts/elements/head" %>
    <%= yield :head %>
    <%= render "layouts/elements/google" if Rails.env.production? %>
  </head>

  <body>
    <%= render "layouts/elements/header" %>
    <% console if Rails.env.development? %>

    <div class="main-container pt-5 pb-5">

      <main id="main" class="content" role="main" >
        <%= yield %>
      </main>      

      <%= render "layouts/elements/footer" %>

    </div>
    <script>
      svgPath = '<%= belurl "icons/icons.svg" %>';
      featherSvgPath = '<%= belurl "icons/feather-sprite.svg" %>';
    </script>
  </body>
</html>


