<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || "EPFL - people directory" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= render "layouts/legacy/favicons" %>
    <%= render "layouts/epfl-elements/head" %>
    <!-- TODO: try to understand why the fuck the asset pipeline no longer works %>
    <%= stylesheet_link_tag "legacy" if false  %>
  </head>

  <body>
    <%= render "layouts/legacy/header" %>

    <div class="main-container">
      <div class="overlay"></div>
      
      <div class="w-100 pb-5">
        <main id="main" role="main" class="content">
          <div class="container">
            <%= yield %>
          </div>
        </main>
      </div>
    </div>

    <%= render "layouts/epfl-elements/footer-fr" %>
  </body>
</html>
