<!doctype html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "layouts/elements/head" %>
    <%= render "layouts/elements/google" if Rails.env.production? %>

    <%= stylesheet_link_tag "people", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= yield :head %>
  </head>

  <body>
    <%= render 'layouts/devbanner' if Rails.env.development? %>
    <%= render "layouts/elements/header" %>

    <div class="main-container pt-5 pb-5">

      <main id="main" class="content" role="main" >
        <%= yield %>
      </main>      

      <%= render "layouts/elements/footer" %>

    </div>
    <script>
      svgPath = '<%= belurl "icons/icons.svg" %>';
      featherSvgPath = '<%= belurl "icons/feather-sprite.svg" %>';
    </script>
  </body>
</html>


